{% extends "layout.html" %}
{% block content %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
    <a href="/add_athlete">Admin login</a>
</div>
<head class="errorpage">
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="errorpage">
    <hr>
    <h1 class="errorpage">404</h1>
    <p class="errorpage">Oops! That page doesn’t exist.</p>
    <a href="/">Return to Home</a>
</body>
</html>

{% endblock %}