<!DOCTYPE html>
<html lang="en">
<div class="topnav">
    <a href="/">Home</a>
    <a href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
</div>
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            font-family: sans-serif;
            background-color: #f3f3f3;
            text-align: center;
        }
        h1 {
            font-size: 80px;
            color: #e74c3c;
        }
        p {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Oops! That page doesn’t exist.</p>
    <a href="/">Return to Home</a>
</body>
</html>
