{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/athletes">Awards</a>
  </div>
  <!-- tester title text -->
  <h1>All athletes list</h1>
  <hr>
  <h2 style="color:green;">ALL ATHLETES</h2>
  <ul>
      {# Jinja loop, almost like Python #}
      {% for athlete in athletes %}
          <li><a href="/athlete/{{ athlete[0] }}">{{ athlete[1] }}</a></li>
      {% endfor %}
  </ul>

{% endblock %}