{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/athletes">Athletes</a>
  <a href="/athletes">Awards</a>
</div>
  <!-- tester title text -->
  <h1>All athletes list</h1>
  <hr>
  <h2 style="color:green;">ALL ATHLETES</h2>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>placeholder</th>
      </tr>
    </thead>
  </table>
  <table>
  {# Jinja loop #}
  {% for athlete in athletes %}
    <tbody>
        <tr>
        <td>
          <a href="/athlete/{{ athlete[0] }}">{{ athlete[0] }}</a>
        </td>
        <td>
          <a href="/athlete/{{ athlete[0] }}">{{ athlete[1] }}</a>
          <a href="/athlete/{{ athlete[0] }}">{{ athlete[2] }}</a>
        </td>
        <td>
          <a href="/athlete/{{ athlete[0] }}">{{ athlete[3] }}</a>
        </td>
      </tr>
    </tbody>
  {% endfor %}
  </table>
</div>



{% endblock %}