<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- navigation bar -->
<div class="topnav">
    <a href="/">Home</a>
    <a href="/athletes">Athletes</a>
    <a class="active" href="/athletes">Awards</a>
    <a href="/add_athlete">Admin login</a>
</div>
<h1>
    {{ article ["title"] }}
</h1>
<hr>
<img class="article" src="{{article['image_url']}}" alt="{{article['title']}}">
<p class="article">
    {{ article ["content"]}}
</p>
<footer>(c)2025</footer>
</html>