{% extends "layout.html" %}
{% block content %}
  <!-- navigation bar -->
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
    <a href="/add_athlete">Admin login</a>

  </div>

  <!-- tester title text -->
  <h1>Athletes</h1>
  <hr>
    {% for athlete in athletes %}
  <div class="athlete-block">
    <!-- Name -->
    <h2>{{ athlete.firstname }} {{ athlete.lastname }}</h2>
    {% for sport in sports %}
    <h3>{{ sport["sport_name"] }}</h3>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
