{% extends "layout.html" %}
{% block content %}
  <!-- navigation bar -->
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
    <a href="/add_athlete">Admin login</a>

  </div>

  <!-- tester title text -->
  <h1>Athletes</h1>
  <hr>
  <div class="three_column">
    {% for athlete in athletes %}
      <div class="card">
        <a href="player/{{ athlete[0] }}"></a>
          <!-- Name -->
          <h2>{{ athlete.firstname }} {{ athlete.lastname }}</h2>
          {% for sport in athlete.sports %}
          <h3>{{ sport["sport_name"] }}</h3>
        </a>
      </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}
