{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/athletes">Athletes</a>
  <a href="/award">Awards</a>

</div>

<!-- tester title text -->
<h1>Athletes</h1>
<hr>

<!-- link to list of all athletes (all_athletes.html) -->
<div class="athletelink">
  <a href="all_athletes">
    <section class="all_athletes">
      <p>All athletes list</p>
    </section>
  </a>
</div>

<h2>
  Featured athletes
</h2>
{% endblock %}
