{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a class="active" href="/award">Awards</a>
  <a href="/add_athlete">Admin login</a>
  
</div>
<!-- award title text -->
<h1>Awards</h1>
<hr>

<!-- here is where the dropdown sport menu will go -->
<nav class="dropdown-box">
  <div class="drop-container">
    <div class="drop-links">
      <li class="dropdown">
        <a href="#" class="dropbtn">Sports ▾</a>
        <div class="dropdown-content">
            {% for sport in sport_name %}
            <a href="/replacewithsort">{{ sport["sport_name"] }}</a>
            {% endfor %}
        </div>
      </li>
    </div>
  </div>
  <!-- search bar to search for award or trophy name -->
  <form method="GET" action="{{ url_for('awards') }}" class="search_bar">
  <!-- take user input and search database -->
  <input type="text" name="search" placeholder="Search awards..." value="{{ request.args.get('search', '') }}">
  <button type="submit">Search</button>
</form>
</nav>

  <!-- loop to check if there are awards to be displayed
   If there are none, a no results msg will be shown -->
  {% if awards %}
    <!-- run through all of the awards -->
    {% for award in awards %}
      <div class="loop"></div>
        <a href="/award_page/{{ award['award_id'] }}">
          <!-- if there is a trophy name, display that as h2 and award_name as h3 -->
          {% if award["trophy_name"] %}
          <h2 class="award"> {{ award["trophy_name"] }} </h2>
          <h3 class="award">{{ award["award_name"] }}</h3>
          <!-- if there is a no trophy name, display award_name as h2 -->
          {% else %}
          <h2 class="award">{{ award["award_name"] }}</h2>
          {% endif %}
          <!-- if there is an award description, display it -->
          {% if award["description"] %}
          <p class="award">{{ award["description"] }}</p>
          <!-- if there is no description, display nothing -->
          {% else %}
          <p> </p>
          </div>
          {% endif %}
        </a>
    {% endfor %}
  {% else %}
    <p class="noresults">No results found.</p>
  {% endif %}
{% endblock %}
