{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a class="active" href="/award">Awards</a>
</div>
<!-- award title text -->
<h1>Awards</h1>
<hr>

<!-- here is where the dropdown sport menu will go -->
<nav class="dropdown-box">
  <div class="drop-container">
    <div class="drop-links">
      <li class="dropdown">
        <a href="#" class="dropbtn">Sports ▾</a>
        <div class="dropdown-content">
            <a href="/replacewithsort">Archery</a>
            <a href="/replacewithsort">Badminton</a>
        </div>
      </li>
    </div>
  </div>
</nav>
<!-- the sort a-z will also be around here somewhere -->

<!-- Here are the awards with images -->
<div class="grid-container">
  <div class="grid-item">
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 2">
    <p>Text 2</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 3">
    <p>Text 3</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 4">
    <p>Text 4</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 1">
    <p>Text 5</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 2">
    <p>Text 6</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 3">
    <p>Text 7</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 4">
    <p>Text 8</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 4">
    <p>Text 9</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 1">
    <p>Text 10</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 2">
    <p>Text 11</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 3">
    <p>Text 12</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 4">
    <p>Text 13</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 2">
    <p>Text 14</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 3">
    <p>Text 15</p>
  </div>
  <div class="grid-item">
    <img src="./static/images/placeholder-1-e1533569576673-960x960.png" alt="Image 4">
    <p>Text 16</p>
  </div>
  <!-- Add more grid-item divs to make new rows -->
</div>

{% endblock %}
