{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a class="active" href="/award">Awards</a>
  <a href="/add_athlete">Admin login</a>
</div>
<!-- title text -->
<h1> {{ award_info["trophy_name"] }} </h1>
<hr>
<body>
    <h2> {{ award_info["award_name"] }} </h2>
    {% if award_info and award_info["description"] %}
    <p> {{ award_info["description"] }}</p>
    {% else %}
    <p>tester text</p>
    {% endif %}
    <p> This award has been won by: </p>
</body>

{% endblock %}