{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a href="/award">Awards</a>
  <a class="active" href="/add_athlete">Admin login</a>
</div>
<head>
    <h1>Bulk Add Athletes</h1>
    <hr>
    <!-- table to enter athlete data -->
    {% set rows = range(20) %}
    <form method="POST">
  <table id="athleteTable">
    <tr>
        <!-- titles -->
      <th>First Name</th>
      <th>Last Name</th>
      <th>Sport</th>
      <th>Award</th>
      <th>Award Year</th>
    </tr>
    <!-- make table rows -->
    {% for i in rows %}
    <tr class="athlete-row">
      <td><input name="firstname" required></td>
      <td><input name="lastname" required></td>
      <td>
        <select name="sport_id" required>
          {% for sport in sports %}
          <option value="{{ sport.sport_id }}">{{ sport.sport_name }} ({{ sport.season }})</option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select name="award_id" required>
          {% for award in awards %}
          <option value="{{ award.award_id }}">{{ award.award_name }}</option>
          {% endfor %}
        </select>
      </td>
      <td><input name="award_year" type="number" required></td>
    </tr>
    {% endfor %}
  </table>

  <button type="submit">Confirm</button>
</form>
</body>
</html>

{% endblock %}