{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a href="/award">Awards</a>
  <a href="/add_athlete">Admin login</a>

</div>
<!-- tester title text -->
<h1>Burnside Sport History</h1>
<hr>
<h1>Featured athletes</h1>
<!-- displaying athletes on the homepage -->
{% for athlete in athletes %}
    <section class="four-column">
        <ul>
            <a href="/player/{{ athlete['athlete_id'] }}">
                <p>{{ athlete['firstname'] }}</p>
                <p>{{ athlete['lastname'] }}</p>
                <p>{{ athlete['sport_name'] }}</p>
                
            </a>
        </ul>
    </section>
{% endfor %}

<h1>Featured articles</h1>
{% for article in articles %}
    <section class="two-column">
        <ul>
            <a href="/article/{{article['article_id']}}"> 
                <img src= "{{ article['image_url'] }}" alt="{{ article['title']}}"> 
            </a>
        </ul>
        <ul>
            <li>
                <h2><a href="/article/{{article['article_id']}}"> {{ article['title'] }} </a></h2>
<p>{{ article['content'] }}</p>
            </li>
        </ul>
    </section>
 {% endfor %}
   
{% endblock %}
