{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a href="/award">Awards</a>

</div>
<!-- tester title text -->
<h1>Hello! This is the homepage.</h1>
<hr>
<!-- Two columns layout start -->
<section class="two-column">
  <div class="image">
      <img src="static/images/contribution_to_sport_max_wallace_2023.jpg" alt="contribution_to_sport_max_wallace_2023">
  </div>
  <div class="info">
      <h1>Max Wallace - Contribution to Sport</h1>
      <p>This is where a link to an article or something else interesting can go. It is visible on the homepage of the website.</p>
  </div>
</section>
<!-- Two columns layout end -->
<!-- Two columns layout start -->
<section class="two-column">
  <div class="image">
      <img src="static/images/sportsman_ari_leckie_2023.jpg" alt="Ari Leckie - Sportsman of the Year">
  </div>
  <div class="info">
      <h1>Ari Leckie - Sportsman of the Year</h1>
      <p>This is where a link to an article or something else interesting can go. It is visible on the homepage of the website.</p>
  </div>
</section>
<!-- Two columns layout end -->
<!-- Two columns layout start -->
<section class="two-column">
  <div class="image">
      <img src="static/images/placeholder-1-e1533569576673-960x960.png" alt="placeholder">
  </div>
  <div class="info">
      <h1>Article 3</h1>
      <p>This is where a link to an article or something else interesting can go. It is visible on the homepage of the website.</p>
  </div>
</section>
<!-- Two columns layout end -->
{% endblock %}
