{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/athletes">Athletes</a>
  <a href="/award">Awards</a>

</div>
<!-- tester title text -->
<h1>Burnside Sport History</h1>
<hr>
<h1>Featured articles</h1>
{% for article in articles %}
    <section class="two-column"></section>
        <ul>
            <li>
                <h2><a href="/article/{{article['article_id']}}"> {{ article['title'] }} </a></h2>
<!-- <p><em>Published: {{ article['published_date'] }}</em></p> -->
<p>{{ article['content'] }}</p>
<!-- <img src="{{ article['image_url'] }}" alt="{{ article['title'] }}"> -->
            </li>
        </ul>
    </section>
 {% endfor %}

{% endblock %}
