{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
    <a href="/add_athlete">Admin login</a>
</div>
<h1>Athlete profile - {{ athlete["firstname"] }} {{ athlete["lastname"] }} </h1>
<hr>
<body>
    <!-- display the sport played by athlete -->
    {% if rows and rows[0]["sport_name"] %}
    <p class="player">{{ athlete["firstname"] }}'s sport is {{ rows[0]["sport_name"] }}</p>
    <!-- if there is no sport in the database, return an errror msg instead of crashing  -->
    {% else %}
    <p class="player">Athlete's sport is unknown.</p>
    {% endif %}

    <!-- add athlete's award(s) and links to the awards -->
    <p class="player">
        
            {{ athlete["firstname"] }} has won the award for{% for award in awards %}
            <li>
                <a class="player" href="/award_page/{{ award[2] }}"> {{ award["award_name"] }}</a>
            </li>
        {% endfor %}
    </p>
</body>
{% endblock %}