<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- navigation bar -->
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/athletes">Awards</a>
</div>
<h1>Athlete profile - {{ athlete["firstname"] }} {{ athlete["lastname"] }} </h1>
<hr>
<body>
    <p>Form class (in year of award): {{ athlete[3] }} </p>
    <!-- add athlete's sport here  -->
    <p>
        Sport: {{ row[3] }}
    </p>
    <!-- add athlete's award(s) and links to the awards -->
</body>
<footer>(c)2025</footer>
</html>