{% extends "layout.html" %}
{% block content %}
<!-- navigation bar -->
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/athletes">Athletes</a>
    <a href="/award">Awards</a>
    <a href="/add_athlete">Admin login</a>
</div>
<h1>Athlete profile - {{ athlete["firstname"] }} {{ athlete["lastname"] }} </h1>
<hr>
<body>
    <p>
        Sport: {{ rows[0] ["sport_name"] }}
    </p>
    <!-- add athlete's award(s) and links to the awards -->
    <p>
        Awards won: 
        {% for award in awards %}
            <li>
                <a href="/award/{{ award[2] }}"> {{award["award_name"] }}</a>
            </li>
        {% endfor %}
    </p>
</body>
{% endblock %}